{% extends 'base.html.twig' %}


{% block main %}

    <h1>Création d'une figure  !</h1>

    {{ form_start(formTrick) }}

    {{ form_row(formTrick.title, {'attr': {'placeholder' : "Titre de la Figure"}}) }}
    {{ form_row(formTrick.content, {'attr': {'placeholder' : "Contenu de la Figure"}}) }}
    {{ form_row(formTrick.image, {'attr': {'placeholder' : "URL de l'image"}}) }}
    {{ form_row(formTrick.video, {'attr': {'placeholder' : "video URL"}}) }}
   {# {{ form_row(formTrick.category, {'attr': {'placeholder' : "Categorie figure"}}) }} #}
    <button type="submit" class="btn btn-success">Ajouter la figure</button>
    
    {{ form_rest(formTrick) }}
        

    {{ form_end(formTrick) }}


{% endblock %}