{% extends 'base.html.twig' %}


{% block main %}
    <div class="container">
        <h1 class="form-title">Création d'une figure  !</h1>

    
    
        {{ form_start(formTrick) }}
            {{ form_errors(formTrick) }}

            {{ form_row(formTrick.title) }}
            {{ form_row(formTrick.content) }}
            {{ form_row(formTrick.groupTrick)}} 
            

            {{ form_row(formTrick.images, {'attr': {'data-prototype': "{{ form_widget(formTrick.images.vars.prototype) | e ('html_attr') }}", 'class' : "images-trick" }})}}
            {{ form_row(formTrick.videos, {'attr': {'data-prototype': "{{ form_widget(formTrick.videos.vars.prototype) | e ('html_attr') }}", 'class' : "videos-trick" }})}}
            {#
            <ul class="images-trick" data-prototype="{{ form_widget(formTrick.images.vars.prototype.name) | e ('html_attr') }}">
            
            </ul>
            <ul class="videos-trick" data-prototype="{{ form_widget(formTrick.videos.vars.prototype.name) | e ('html_attr') }}">
            
            </ul> #}
            <button type="submit" class="btn btn-primary mr-2 copyable">Ajouter la figure</button>
        {{ form_rest(formTrick) }}

        {{ form_end(formTrick) }}
    </div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
    crossorigin="anonymous"></script>
    <script>
        var $collectionHolderImage;

        var $addImageButton = $('<button type="button" class="add_image_link btn-create-trick btn btn-primary mr-2 copyable">Ajouter une image</button>');
        var $newLinkLiImage = $('<div></div>').append($addImageButton);

        jQuery(document).ready(function() {
            $collectionHolderImage = $('div.images-trick');
               // delete link image
            
            $collectionHolderImage.find('div').each(function() {
                addImageFormDeleteLink($(this));
            });

            $collectionHolderImage.append($newLinkLiImage);

            $collectionHolderImage.data('index', $collectionHolderImage.find(':input').length);

            $addImageButton.on('click', function(e) {
                addImageButton($collectionHolderImage, $newLinkLiImage);
            });
            
         
          

        });

        function addImageButton($collectionHolderImage, $newLinkLiImage) {
            var prototypeImage = $collectionHolderImage.data('prototype');

            var indexImage = $collectionHolderImage.data('index');

            var newFormImage = prototypeImage;

            newFormImage = newFormImage.replace(/__name__label__/g, indexImage);

            $collectionHolderImage.data('index', indexImage +1);

            var $newFormLiImage = $('<div></div>').append(newFormImage);
            $newLinkLiImage.before($newFormLiImage);
            addImageFormDeleteLink($newFormLiImage);
        }

        function addImageForm() {
            
        }

        function addImageFormDeleteLink($imageFormLi) {
            var $removeImageFormButton = $('<button type="button" class="btn btn-delete-trick btn-outline-secondary mr-2 copyable">Delete this Image</button>');
            $imageFormLi.append($removeImageFormButton);

            $removeImageFormButton.on('click', function(e) {
                $imageFormLi.remove();
            });
        }

        var $collectionHolderVideo;

        var $addVideoButton = $('<button type="button" class="add_video_link btn-create-trick btn btn-primary mr-2 copyable">Ajouter une Video</button>');
        var $newLinkLiVideo = $('<div></div>').append($addVideoButton);

        jQuery(document).ready(function() {
            $collectionHolderVideo = $('div.videos-trick');
               // delete link Video
            
            $collectionHolderVideo.find('div').each(function() {
                addVideoFormDeleteLink($(this));
            });

            $collectionHolderVideo.append($newLinkLiVideo);

            $collectionHolderVideo.data('index', $collectionHolderVideo.find(':input').length);

            $addVideoButton.on('click', function(e) {
                addVideoButton($collectionHolderVideo, $newLinkLiVideo);
            });
            
         
          

        });

        function addVideoButton($collectionHolderVideo, $newLinkLiVideo) {
            var prototypeVideo = $collectionHolderVideo.data('prototype');

            var indexVideo = $collectionHolderVideo.data('index');

            var newFormVideo = prototypeVideo;

            newFormVideo = newFormVideo.replace(/__name__label__/g, indexVideo);

            $collectionHolderVideo.data('index', indexVideo +1);

            var $newFormLiVideo = $('<div></div>').append(newFormVideo);
            $newLinkLiVideo.before($newFormLiVideo);
            addVideoFormDeleteLink($newFormLiVideo);
        }

        function addVideoForm() {
            
        }

        function addVideoFormDeleteLink($VideoFormLi) {
            var $removeVideoFormButton = $('<button type="button" class="btn btn-delete-trick btn-outline-secondary mr-2 copyable">Delete this Video</button>');
            $VideoFormLi.append($removeVideoFormButton);

            $removeVideoFormButton.on('click', function(e) {
                $VideoFormLi.remove();
            });
        }

    </script>
{% endblock %}