{% extends 'base.html.twig' %}

    {% block header %}
        {% for trickF in tricks %}
            {% if loop.first %}
                {% for imageF in trickF.images %}
                    {% if loop.first %}
                        <header class="bg-primary" style="background-image:url('{{ asset('assets/images/') ~ imageF.name }}')">
                    {% endif %}
                {% endfor %}
            
        
                <div>
                    <div class="row h-100">
                        <div class="col-12">
                            {% if app.user %}
                                <div class="edit-div">
                                    <a href="{{ path ('trick_edit', {'id': trickF.id}) }}" class="btn btn-edit btn-outline-secondary mr-2 copyable"><img src="{{ asset('assets/icons/edit.png') }}" alt="Modifier la figure"></a>
                                    <a href="{{ path ('trick_delete', {'id': trickF.id}) }}" class="btn btn-edit btn-outline-secondary mr-2 copyable" onclick="delete_trick(event, trick.id);"><img src="{{ asset('assets/icons/delete-button.png') }}" alt="Supprimer la figure"></a>
                                </div>
                                     
                            {% endif %}
        
                            <div class="text-center m-0 vh-100 d-flex flex-column justify-content-center text-light">
                                <h1 class="display-4">{{ trickF.title }}</h1>
            {% endif %}
        {% endfor %}                       
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}
    
{% block main %}
    <div class="container">
        <div class="grid-container-fluid">

            {% for trick in tricks|slice(1) %}
                {% for image in trick.images %}
                    {% if loop.first %}
                        <div class="grid-item" style="background-image:url('{{ asset('assets/images/') ~ image.name }}')">
                    {% endif %}
                {% endfor %}
                            {% if app.user %}
                                <div class="edit-div">
                                    <a href="{{ path ('trick_edit', {'id': trick.id}) }}" class="btn btn-edit btn-outline-secondary mr-2 copyable"><img src="{{ asset('assets/icons/edit.png') }}" alt="Modifier la figure"></a>
                                    <a href="{{ path ('trick_delete', {'id': trick.id}) }}" class="btn btn-edit btn-outline-secondary mr-2 copyable" onclick="delete_trick(e, trick.id);"><img src="{{ asset('assets/icons/delete-button.png') }}" alt="Supprimer la figure"></a>
                                </div>
                                     
                            {% endif %}
                            <h2>{{ trick.title }}</h2>
                        
                        </div>
                    
            {% endfor %}
        </div>
    </div



{% endblock %}
{% block customjavascript %}
{{ parent() }}

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        function delete_trick(e,trick_id)
        {
            e.preventDefault();
            if(confirm('Vous êtes sûr(e) ?')) 
            {
              //console.log(id);
              // delete trick
              window.location.href = "/";
            }
        }
        
  </script>

{% endblock %}