{% extends 'base.html.twig' %}

{% block main %}

    <article>
        <h2>{{ trick.title }}</h2>
        <div class="metadata">Crée le {{ trick.createdAt | date('d/m/Y') }} à {{ trick.createdAt | date('H:i') }} | Modifié le {{ trick.editAt | date('d/m/Y') }} à {{ trick.editAt | date('H:i') }} dans la catégorie {{ trick.groupTrick.title }}</div>
        <div class="content">
            {% for image in trick.images %}
                <img src="{{ asset('assets/images/') ~ image.name}}" alt="">
            {% endfor %}
            {% for video in trick.videos %}
                <video controls>
                    <source src="{{ video.name }}" type="">

                </video>
            {% endfor %}
            <p>
                {{ trick.content }}
            </p>
            <a href="{{ path ('trick_edit', {'id': trick.id}) }}" class="btn btn-primary">Modifier la figure</a>
            <a href="{{ path ('trick_delete', {'id': trick.id}) }}" class="btn btn-primary" onclick="delete_trick(event, trick.id);">Supprimer la figure</a>
        </div>
    </article>
    <section id="commentaires">
        {% for comment in trick.comments %}
            <div class="comment">
                <div class="row">
                    <div class="col-3">
                        {{ comment.author }} (<small>{{ comment.createdAt | date('d/m/Y à H:i') }}</small>)
                    </div>
                    <div class="col">
                        <p>
                            {{ comment.contenu }}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if app.user %}
            {{ form_start(commentForm) }}
            {{ form_row(commentForm.contenu, {'attr': {'placeholder': "Votre commentaire"}}) }} 

            <button type="submit" class="btn btn-success">Commenter !</button>
            {{ form_rest(commentForm) }}  
            {{ form_end(commentForm) }} 
        {% else %}
            <h2>Vous ne pouvez pas commenter si vous n'êtes pas connecté !</h2>
            <a href="{{ path('security_login') }}" class="btn btn-primary">Connexion</a>        
        {% endif %}
    </section>


{% endblock %}

{% block customjavascript %}
{{ parent() }}
  <script>
      function delete_trick(e,trick_id)
      {
          e.preventDefault();
          if(confirm('Vous êtes sûr(e) ?')) 
          {
              //console.log(id);
              // delete trick
              window.location.href = "/";
          }
      }
  </script>

{% endblock %}