<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="robots" content="noindex, nofollow">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        {% endblock %}
    </head>
    <body data-spy="scroll" data-target="#navbar1" data-offset="60">

        {% block nav %}
             <div class="logo">
                <a href="/">
                    <img class="snow-icon" src="{{ asset('assets/icons/snowtricks.png') }}" alt="SnowTricks page d'accueil">
                </a>
            </div>
            <nav class="topnav" id="myTopnav">
                <a href="{{ path('homepage_tricks') }}" class="btn-nav active-nav">Tricks</a>
                {% if app.user %}
                    <a href="{{ path('trick_create') }}" class="btn-nav">Ajouter une figure</a>
                    <a href="{{ path('security_logout') }}" class="btn-nav">Déconnexion</a>
                {% else %}
                    <a href="{{ path('security_login') }}" class="btn-nav">Identifiez-vous</a>
                    <a href="{{ path('security_registration') }}" class="btn-nav">Créez votre compte</a>
                {% endif %}
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
            </nav>
        {% endblock %}
        {% block header %}

        {% endblock %}
        <div class="container-fluid">
            {% block main %}{% endblock %}
        </div>
        {% block footer %}{% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
            <script src="{{ asset('assets/js/script.js') }}"></script>
        {% endblock %}
    </body>
</html>
